.has-header {
  top:0;
}

/*

    Ionic Component: ion-nav-bar
    Ionic Documentation: http://ionicframework.com/docs/api/directive/ionNavBar/

    MDL Component: Layout
    MDL Documentation: http://www.getmdl.io/components/index.html#layout-section

 */

.ion-mdl-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.08),0 3px 1px -2px rgba(0,0,0,.05),0 1px 5px 0 rgba(0,0,0,.08);
  color: rgb(255,255,255);
  background-color: rgb(63,81,181);
  z-index: 3;
  border: none;
}
.ion-mdl-header-simple {
  height: 56px;
}
.ion-mdl-header .title {
  height: 56px;
  font-size: 20px;
  line-height: 56px;
}
.platform-android .ion-mdl-header .title {
  line-height: 57px;
  padding: 0 10px;
  font-size: 20px;
}

/*

    Ionic Component: Buttons
    Ionic Documentation: http://ionicframework.com/docs/components/#buttons

    MDL Component: Buttons
    MDL Component Type: Basic
    MDL Documentation: http://www.getmdl.io/components/index.html#buttons-section

 */


.ion-mdl-button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  display: block;
  position: relative;
  height: 46px;
  min-width: 64px;
  padding: 0 8px;
  display: inline-block;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow,transform;
  -webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
.ion-mdl-button--small {
  height: 37px;
}
.ion-mdl-button--large {
  height: 55px;
}

.ion-mdl-button.activated {
  background-color: rgba(0,0,0,.12);
}

/*

    Ionic Component: Buttons
    Ionic Documentation: http://ionicframework.com/docs/components/#buttons

    MDL Component: Buttons
    MDL Component Type: Icon
    MDL Documentation: http://www.getmdl.io/components/index.html#buttons-section

 */

.ion-mdl-button--icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal;
}

.ion-mdl-button--icon .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px,-12px);
  -ms-transform: translate(-12px,-12px);
  transform: translate(-12px,-12px);
  line-height: 24px;
  width: 23px;
}

/*

    Ionic Component: Buttons
    Ionic Documentation: http://ionicframework.com/docs/components/#buttons

    MDL Component: Buttons
    MDL Component Type: Colored
    MDL Documentation: http://www.getmdl.io/components/index.html#buttons-section

 */
.ion-mdl-button--colored {
  color: rgb(255,255,255);
}

/*

    Ionic Component: Buttons
    Ionic Documentation: http://ionicframework.com/docs/components/#buttons

    MDL Component: Buttons
    MDL Component Type: Accent
    MDL Documentation: http://www.getmdl.io/components/index.html#buttons-section

 */

.ion-mdl-button--accent, .ion-mdl-button--raised.ion-mdl-button--accent  {
  color: rgb(255,255,255);
  background-color: rgb(255,64,129);
}
.ion-mdl-button--accent .mdl-ripple {
  background: rgb(255,255,255);
}

/*

    Ionic Component: Buttons
    Ionic Documentation: http://ionicframework.com/docs/components/#buttons

    MDL Component: Buttons
    MDL Component Type: Raised
    MDL Documentation: http://www.getmdl.io/components/index.html#buttons-section

 */

.ion-mdl-button--raised {
  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.ion-mdl-button--raised.activated {
  transition: box-shadow .2s cubic-bezier(.4,0,1,1);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

/*

    Ionic Component: Buttons
    Ionic Documentation: http://ionicframework.com/docs/api/directive/ionNavBackButton/

    MDL Component: Buttons
    MDL Component Type: Icon (Nav-Bar Back Button)
    MDL Documentation: http://www.getmdl.io/components/index.html#buttons-section

 */

.ion-mdl-button.back-button.activated, .ion-mdl-button.back-button:hover {
  color: rgb(255,255,255);
  opacity:1;
}
.ion-mdl-button.back-button .back-text {
  display: none;
}

/* button - social */

.ion-mdl-button-facebook { background: #3B5999; }
.ion-mdl-button-facebook.activated { background: #314A80; }
.ion-mdl-button-google { background: #db4a39; }
.ion-mdl-button-google.activated { background: #D83927 }

/*

    Ionic Component: Cards
    Ionic Documentation: http://ionicframework.com/docs/components/#cards

    MDL Component: Cards
    MDL Documentation: http://www.getmdl.io/components/index.html#cards-section

    Usage: http://play.ionic.io/app/b554fafedabd

*/
.ion-mdl-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  min-height: 200px;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}
.ion-mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.ion-mdl-card--expand {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ion-mdl-card--title {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  line-height: normal;
  padding: 16px;
  -webkit-perspective-origin: 165px 56px;
  perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
  -ms-transform-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
}
.ion-mdl-card.ion-mdl-colored .ion-mdl-card--title h4, .ion-mdl-card.ion-mdl-colored .ion-mdl-card--actions .ion-mdl-button {
  color: rgb(255,255,255);
}
.ion-mdl-card--title-text {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: inherit;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  -webkit-transform-origin: 149px 48px;
  -ms-transform-origin: 149px 48px;
  transform-origin: 149px 48px;
  margin: 0;
}
.ion-mdl-card--supporting-text {
  color: rgba(0,0,0,.87);
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  padding: 16px;
  width: 90%;
}

.ion-mdl-card--actions {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}
.ion-mdl-card.ion-mdl-colored .ion-mdl-card--actions .ion-mdl-button .mdl-ripple {
  background: rgb(255,255,255);
}
.ion-mdl-card.ion-mdl-colored .ion-mdl-card--actions.ion-mdl-card--border {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.ion-mdl-card--actions.ion-mdl-card--border {
  border-top: 1px solid rgba(0,0,0,.1);
}
.ion-mdl-card--border {
  
}

/*

    Ionic Component: Cards
    Ionic Documentation: http://ionicframework.com/docs/components/#cards

    MDL Component: Cards
    MDL Component Template: Event
    MDL Documentation: http://www.getmdl.io/components/index.html#cards-section

*/
.ion-mdl-card--event {
  height: 256px;
  background: #3E4EB8;
}

/*

    Ionic Component: Cards
    Ionic Documentation: http://ionicframework.com/docs/components/#cards

    MDL Component: Cards
    MDL Component Template: Image
    MDL Documentation: http://www.getmdl.io/components/index.html#cards-section

*/
.ion-mdl-card--image.ion-mdl-card {
  width: 100%;
  height: 256px;
  background: url('http://www.getmdl.io/assets/demos/image_card.jpg') center / cover;
}
.ion-mdl-card--image > .ion-mdl-card--actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.ion-mdl-card--image-filename {
  color: #fff;
}

/*

    Ionic Component: Cards
    Ionic Documentation: http://ionicframework.com/docs/components/#cards

    MDL Component: Cards
    MDL Component Template: Square
    MDL Documentation: http://www.getmdl.io/components/index.html#cards-section

*/

/*

    Ionic Component: Cards
    Ionic Documentation: http://ionicframework.com/docs/components/#cards

    MDL Component: Cards
    MDL Component Template: Share
    MDL Documentation: http://www.getmdl.io/components/index.html#cards-section

*/
.ion-mdl-card--share > .ion-mdl-card--title {
  color: #fff;
  height: 176px;
  background: url('http://www.getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.ion-mdl-card--share > .ion-mdl-card--share-menu {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #fff;
}
.ion-mdl-card.ion-mdl-content-colored .ion-mdl-button .mdl-ripple {
  background: rgb(255,255,255);
}